{% extends "base.html" %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<div class="container-fluid mx-0 px-0">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/1.jf.jpg" class="d-block " width=1600 height=400,alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/2.jf.jpg" class="d-block" width=1600 height=400 alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/3.jf.jpg" class="d-block" width=1600 height=400 alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div class="container-fluid my-4">

    <div class="row">
        <h3 class="text-center">Why Choose Us ?</h3>
        <div class="col-md-4 ">
            <div class="text-center">
                <img src="/static/4.jf.jpg" class="rounded" width=160 height="160" alt="...">
                <div class="container">
                    <h5>Free Courses</h5>
                    <p>The DevLoop platform offers a wide range of free courses that focus on software development,
                        DevOps practices, and continuous integration/continuous delivery (CI/CD) strategies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="/static/5.jf.jpg" class="rounded" width=160 height="160" alt="...">
                <div class="container">
                    <h5>Best Coding Articles</h5>
                    <p>The Dev Loop provides insightful and engaging articles tailored to meet the evolving needs of
                        developers, content creators, and tech enthusiasts. These articles cover a wide spectrum,
                        including web development, DevOps best practices, software tools, coding tutorials, project
                        management strategies, and emerging technology trends.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="/static/6.jf.jpg" class="rounded" width=160 height="160" alt="...">
                <div class="container">
                    <h5>Amazing Services</h5>
                    <p>Dev Loop offers a comprehensive range of services designed to empower businesses and individuals
                        with seamless digital solutions. Their offerings include end-to-end web development, mobile app
                        creation, UI/UX design, cloud integration, and maintenance services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}